{% extends 'painel/base.html' %}

{% block navbar-left %}
<h1 class="m-auto h3 mb-3 fw-normal">Novo Médico</h1>
{% endblock %}

{% block navbar-right %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'painel:listar_medicos' %}">Médicos</a>
</li>

{% endblock %}

{% block content %}
<style>
    .form-signin {
        height: 100%;
        overflow: visible;
    }

    .order-form {
        display: flex;
        flex-direction: column;
    }

    .order-form-child {
        display: flex;
        gap: 1rem;
        justify-content: space-around;
    }

    .form {
        padding-top: 1rem;
        margin: auto;
    }

    .form-floating {
        margin-bottom: 1rem;
    }

    #floatingInput {
        width: 30rem;
    }

    button.btn {
        margin-top: 1rem;
        width: 10rem !important;
    }
</style>


<body class="text-center">

    <main class="form-signin">
        <form class="form" method="post">
            {% csrf_token %}
            {% load static %}
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <!-- <img class="mb-4" src="{% static 'img/logo_psi.svg' %}" alt="" width="72" height="57"> -->

            <div class="order-form">
                <div class="order-form-child">
                    <div class="column">
                        <div class="form-floating" style="margin-bottom: 1rem;">
                            <input type="text" class="form-control" id="floatingInput" name="nome"
                                placeholder="nome completa" value="" required>
                            <label for="floatingInput">Nome Completo</label>
                        </div>
                        <div class="form-floating" style="margin-bottom: 1rem;">
                            <input type="text" class="form-control" id="floatingInput" name="celular"
                                placeholder="celular" value="" required>
                            <label for="floatingInput">Celular</label>
                        </div>

                        <div class="form-floating" style="margin-bottom: 1rem;">
                            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="email"
                                required>
                            <label for="floatingInput">E-mail</label>
                        </div>

                        <div class="form-floating" style="margin-bottom: 1rem;">
                            <input type="text" class="form-control" id="floatingInput" name="cpf" placeholder="cpf"
                                required>
                            <label for="floatingInput">CPF</label>
                        </div>

                        <div class="form-floating" style="margin-bottom: 1rem;">
                            <select class="form-select" aria-label="Default select example" name="sexo"
                                id="floatingInput" required>
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                            </select>
                            <label for="floatingInput">Sexo</label>
                        </div>

                        <div class="form-floating" style="margin-bottom: 1rem;">
                            <input type="date" class="form-control" id="floatingInput" name="data_nascimento"
                                placeholder="data_nascimento" required>
                            <label for="floatingInput">Data de nascimento</label>
                        </div>
                    </div>

                    <!--Endereço-->
                    <div class="column">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput" name="cep" placeholder="cep"
                                required>
                            <label for="floatingInput">CEP</label>
                        </div>

                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput" name="rua" placeholder="rua"
                                required>
                            <label for="floatingInput">Rua</label>
                        </div>

                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput" name="numero"
                                placeholder="numero" required>
                            <label for="floatingInput">Número</label>
                        </div>

                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput" name="bairro"
                                placeholder="bairro" required>
                            <label for="floatingInput">Bairro</label>
                        </div>

                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput" name="cidade"
                                placeholder="cidade" required>
                            <label for="floatingInput">Cidade</label>
                        </div>

                        <div class="form-floating">
                            <select class="form-select" aria-label="Default select example" name="estado"
                                id="floatingInput" required>
                                <option value="">Selecione</option>
                                {% if estados %}
                                {% for estado in estados %}
                                <option value="{{ estado.id }}">{{ estado.nome }}</option>
                                {% endfor %}
                                {% else %}
                                <option value="">Nenhum estado encontrado</option>
                                {% endif %}
                            </select>
                            <label for="floatingInput">Estado</label>
                        </div>
                    </div>
                </div>


                <!--Contrato-->
                <div class="contrato">
                    <h2>Dados profissionais</h2>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="foto_perfil"
                            placeholder="foto_perfil" required>
                        <label for="floatingInput">Foto de perfil</label>
                    </div>

                    <div class="form-floating">
                        <select type="text" class="form-control" aria-label="Default select example"
                            aria-placeholder="especialidade" name="especialidade_id" id="floatingInput" required>
                            {% if especialidades %}
                            <option value="">Selecione</option>
                            {% for especialidade in especialidades %}
                            <option value="{{ especialidade.id }}">{{ especialidade.nome }}</option>
                            {% endfor %}
                            {% else %}
                            <option value="">Nenhuma especialidade encontrada</option>
                            {% endif %}
                        </select>
                        <label for="floatingInput">Especialidade</label>
                    </div>

                    <div class="form-floating">
                        <select type="text" class="form-control" aria-label="Default select example"
                            placeholder="tipo_conselho" name="tipo_conselho_id" id="floatingInput" required>
                            {% if tipo_conselho %}
                            <option value="">Selecione</option>
                            {% for tipo in tipo_conselho %}
                            <option value="{{ tipo.id }}">{{ tipo.nome }}</option>
                            {% endfor %}
                            {% else %}
                            <option value="">Nenhum tipo de conselho encontrado</option>
                            {% endif %}
                        </select>
                        <label for="floatingInput">Conselho Regional</label>
                    </div>

                    <div class="form-floating">
                        <select type="text" class="form-control" aria-label="Default select example"
                            placeholder="uf_conselho" name="uf_conselho_id" id="floatingInput" required>
                            {% if tipo_conselho %}
                            <option value="">Selecione</option>
                            {% for estado in estados %}
                            <option value="{{ estado.id }}">{{ estado.nome }}</option>
                            {% endfor %}
                            {% else %}
                            <option value="">Nenhum estado encontrado</option>
                            {% endif %}
                        </select>
                        <label for="floatingInput">UF do Conselho</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="numero_conselho"
                            placeholder="numero_conselho" required>
                        <label for="floatingInput">Número do conselho</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="rqe" placeholder="rqe"
                            required>
                        <label for="floatingInput">RQE</label>
                    </div>



                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="valor_consulta"
                            placeholder="valor_consulta" required>
                        <label for="floatingInput">Valor da consulta</label>
                    </div>

                    <div class="form-floating">

                        <input type="file" class="form-control" id="floatingInput" name="upload_documento"
                            placeholder="upload_documento" required>
                        <label for="floatingInput">Upload do documento profissional</label>
                    </div>

                </div>

                

                <button class="w-100 btn btn-lg btn-primary" type="submit">Cadastrar</button>



            </div>


        </form>
    </main>

    {% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    {% endblock %}

</body>
{% endblock %}