{% extends 'painel/base.html' %}


{% block navbar-right %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'painel:listar_pacientes' %}">Voltar</a>
</li>

{% endblock %}

{% block content %}
<style>
    .form {
        padding-top: 1rem;
        margin: auto;
    }

    .form-floating {
        margin-bottom: 1rem;
    }

    #floatingInput {
        width: 30rem;
    }

    button.btn {
        margin-top: 1rem;
        width: 10rem !important;
    }
</style>


<body class="text-center">

    <main class="form-signin">
        <form class="form" method="post">
            {% csrf_token %}
            {% load static %}
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <!-- <img class="mb-4" src="{% static 'img/logo_psi.svg' %}" alt="" width="72" height="57"> -->

            <div class="flex" style="display: flex; gap: 1rem; justify-content: space-around;">
                <div class="column">
                    <div class="form-floating" style="margin-bottom: 1rem;">
                        <input type="text" class="form-control" id="floatingInput" name="nome"
                            placeholder="nome completa" value="" required>
                        <label for="floatingInput">Nome Completo</label>
                    </div>
                    <div class="form-floating" style="margin-bottom: 1rem;">
                        <input type="text" class="form-control" id="floatingInput" name="celular" placeholder="celular"
                            value="" required>
                        <label for="floatingInput">Celular</label>
                    </div>

                    <div class="form-floating" style="margin-bottom: 1rem;">
                        <input type="email" class="form-control" id="floatingInput" name="email" placeholder="email"
                            required>
                        <label for="floatingInput">E-mail</label>
                    </div>

                    <div class="form-floating" style="margin-bottom: 1rem;">
                        <input type="text" class="form-control" id="floatingInput" name="cpf" placeholder="cpf"
                            required>
                        <label for="floatingInput">CPF</label>
                    </div>

                    <div class="form-floating" style="margin-bottom: 1rem;">
                        <select class="form-select" aria-label="Default select example" name="sexo" id="floatingInput"
                            required>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                        </select>
                        <label for="floatingInput">Sexo</label>
                    </div>

                    <div class="form-floating" style="margin-bottom: 1rem;">
                        <input type="date" class="form-control" id="floatingInput" name="data_nascimento"
                            placeholder="data_nascimento" required>
                        <label for="floatingInput">Data de nascimento</label>
                    </div>
                </div>

                <!--Endereço-->
                <div class="column">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="cep" placeholder="cep"
                            required>
                        <label for="floatingInput">CEP</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="rua" placeholder="rua"
                            required>
                        <label for="floatingInput">Rua</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="numero" placeholder="numero"
                            required>
                        <label for="floatingInput">Número</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="bairro" placeholder="bairro"
                            required>
                        <label for="floatingInput">Bairro</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="cidade" placeholder="cidade"
                            required>
                        <label for="floatingInput">Cidade</label>
                    </div>

                    <div class="form-floating">
                        <select class="form-select" aria-label="Default select example" name="estado" id="floatingInput"
                            required>
                            <option value="">Selecione</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espirito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                        <label for="floatingInput">Estado</label>
                    </div>
                </div>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Cadastrar</button>
        </form>
    </main>

    {% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    {% endblock %}

</body>
{% endblock %}