{% extends 'painel/base.html' %}

{% block title %}Cadastrar Clinica{% endblock %}

{% block sidebar-items %}
<li class="nav-item">
    <a href="{% url 'painel:cadastrar_clinica' %}" class="nav-link link-dark">Cadastrar clinica</a>
</li>

<li class="nav-item">
    <a href="{% url 'painel:listar_clinicas' %}" class="nav-link link-dark">Clinicas</a>
</li>

<hr>

<li class="nav-item">
    <a href="{% url 'painel:listar_salas' %}" class="nav-link link-dark">Salas</a>
</li>

{% endblock %}

{% block navbar-right %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'painel:listar_clinicas' %}">Voltar</a>
</li>

{% endblock %}

{% block content %}
<style>
    .form {
        padding-top: 1rem;
        margin: auto;
    }

    .form-floating {
        margin-bottom: 1rem;
    }

    #floatingInput {
        width: 30rem;
    }

    button.btn {
        margin-top: 1rem;
        width: 10rem !important;
    }
</style>


<body class="text-center">

    <main class="form-signin">
        <form class="form" method="post">
            {% csrf_token %}
            {% load static %}
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <!-- <img class="mb-4" src="{% static 'img/logo_psi.svg' %}" alt="" width="72" height="57"> -->

            <div class="flex" style="display: flex; gap: 1rem; justify-content: space-around;">
                <div class="column">
                    <div class="form-floating" style="margin-bottom: 1rem;">
                        <input type="text" class="form-control" id="floatingInput" name="nome" placeholder="nome"
                            value="" required>
                        <label for="floatingInput">Nome</label>
                    </div>
                    <div class="form-floating" style="margin-bottom: 1rem;">
                        <input type="text" class="form-control" id="floatingInput" name="celular" placeholder="celular"
                            value="" required>
                        <label for="floatingInput">Celular</label>
                    </div>

                    <div class="form-floating" style="margin-bottom: 1rem;">
                        <input type="text" class="form-control" id="floatingInput" name="celular2" placeholder="celular2"
                            value="" required>
                        <label for="floatingInput">Celular 2</label>
                    </div>

                    <div class="form-floating" style="margin-bottom: 1rem;">
                        <input type="email" class="form-control" id="floatingInput" name="email" placeholder="email"
                            required>
                        <label for="floatingInput">E-mail</label>
                    </div>

                    <div class="form-floating" style="margin-bottom: 1rem;">
                        <input type="text" class="form-control" id="floatingInput" name="cnpj" placeholder="cnpj"
                            required>
                        <label for="floatingInput">CNPJ</label>
                    </div>
                </div>

                <!--Endereço-->
                <div class="column">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="cep" placeholder="cep"
                            required>
                        <label for="floatingInput">CEP</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="rua" placeholder="rua"
                            required>
                        <label for="floatingInput">Rua</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="numero" placeholder="numero"
                            required>
                        <label for="floatingInput">Número</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="bairro" placeholder="bairro"
                            required>
                        <label for="floatingInput">Bairro</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="cidade" placeholder="cidade"
                            required>
                        <label for="floatingInput">Cidade</label>
                    </div>

                    <div class="form-floating">
                        <select class="form-select" aria-label="Default select example" name="estado" id="floatingInput"
                            required>
                            {% if estados %}
                            {% for estado in estados %}
                            <option value="{{ estado.id }}">{{ estado.uf }} - {{ estado.nome }}</option>
                            {% endfor %}
                            {% else %}
                            <option value="">Nenhum estado encontrado</option>
                            {% endif %}
                        </select>
                        <label for="floatingInput">Estado</label>
                    </div>
                </div>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Cadastrar</button>
        </form>
    </main>

    {% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    {% endblock %}

</body>
{% endblock %}