{% load static %}
<div class="cd-schedule-modal__event-info">
	{% for agendamento in agendamentos %}
	<div class="mini-card">
		<div class="medico-header">
			<span class="foto-placeholder">👨‍⚕️</span>
			<div class="medico-info">
				<span class="medico-nome">{{ agendamento.medico }}</span>
				<span class="especialidade">{{ agendamento.especialidade }}</span>
			</div>
		</div>
		<div class="sala-info">
			<span class="sala-nome">{{ agendamento.sala }}</span>
			<span class="vagas">{{ agendamento.total_pacientes }} pacientes</span>
		</div>
	</div>
	{% endfor %}
</div>