{% extends 'painel/base.html' %}

{% block title %}Clinicas{% endblock %}

{% block content %}

<div class="container">

    <div class="card" data-clinica-id="{{ clinica.id }}">
        <div class="card-body">
            <h5 class="card-title text-center">{{ clinica.nome }}</h5>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <p class="card-text">Endereço: {{ clinica.endereco }}</p>
                </li>
                <li class="nav-item">
                    <p class="card-text">Telefone: {{ clinica.telefone }}</p>
                </li>
            </ul>


        </div>
    </div>

</div>

{% endblock %}