{% extends 'painel/base.html' %}

{% block sidebar-items %}
<li>
    <a href="{% url 'painel:cadastrar_medico' %}" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#people-circle"></use>
        </svg>
        Cadastrar Médico
    </a>
</li>
{% endblock %}

{% block title %}Medicos{% endblock %}

{% block content %}
<style>
    .container {
        width: 90%;
        margin: auto;
        padding-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin: auto;
        width: 18rem;
        margin-bottom: 2rem;
        cursor: pointer;
    }

    .moldura {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden;
        margin: auto;
        background-color: #464b52;
    }


    .card-body::before {
        content: " ";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #464b52;
        margin-top: 1rem;
    }

    .card-title {
        margin-top: 1rem;
    }
</style>

<div class="container">
    {% if medicos %}
    {% for medico in medicos %}
    <div class="card" data-medico-id="{{ medico.id }}" onclick="verDetalhesMedico(this)">
        <div class="moldura">
            <img src="{{ medico.foto_perfil }}" class="card-img-top" alt="Foto de perfil do médico">

        </div>

        <div class="card-body">
            <h5 class="card-title text-center">{{ medico.nome }}</h5>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <p class="card-text">Especialidade: {{ medico.especialidade }}</p>
                </li>
                <li class="nav-item">
                    <p class="card-text">{{ medico.tipo_conselho}}-{{ medico.uf_conselho }} {{ medico.numero_conselho }}</p>
                </li>
                <li class="nav-item">
                    <p class="card-text">Telefone: {{ medico.celular }}</p>
                </li>
                <li class="nav-item">
                    <p class="card-text">Valor: R$ {{ medico.valor_consulta }}</p>
                </li>
            </ul>

            
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Nenhum médico encontrado.</p>
    {% endif %}
</div>

<script>
    function verDetalhesMedico(element) {
        let medicoId = element.getAttribute('data-medico-id');
        window.location.href = '/painel/medico/detalhes/' + medicoId + '/';
    }
</script>
{% endblock %}